DEBUG=True
SECRET_KEY=django-insecure-change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=shopapi_db
DB_USER=shopapi_user
DB_PASSWORD=shopapi_pass
DB_HOST=localhost
DB_PORT=5432
CORS_ALLOW_ALL_ORIGINS=True
